<h1>sandwiches!</h1>

<h2>Burgers Yet To Be Eaten!</h2>

<div id="notdevoured">
  <ul>
    {{#each burgers}}
      {{#unless this.devoured}}
        <li>
          {{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit">MEAL TIME!</button>
          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<h2>Burgers Eaten!</h2>

<div id="devoured">
  <ul>
    {{#each burgers}}
      {{#if this.devoured}}
        <li>
          {{this.burger_name}}

          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="false">
            <button type="submit">Try It Again!</button>
          </form>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten!<br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>
